p,li {

    font-size: 17px;
    line-height: 2;
    letter-spacing: 1px;
}

h1{

    font-size: 65;
    text-align: center;
    margin:0;
    padding: 20px 0;
    color: rgb(255, 251, 0);
    text-shadow: 5px 6px 8px rgb(160, 0, 0);

}

#TOP {
    /*this makes text italic*/
    font-style: italic;

}

.para {

    font-size: 20px;
    color: rgb(54, 120, 181);
}

body {

    margin: 0 auto;
    padding: 0 20px 20px 20px;
    width: 600px;
    border: 4px solid black;
    background-color: rgb(166, 196, 96);

}

html {

    background-color: rgb(247, 205, 115);
}
