p{
    font-size: 20px bolder;
}

li {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}

h1{

    font-size: 65px;
    text-align: center;
    margin:0;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    text-shadow: 5px 6px 8px rgb(0, 0, 0);

}

#subtitle{
    text-align: center;
    font-size: 22px;



}

#TOP {
    /*this makes text italic*/
    font-style: italic;

}

.para {

    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial;
    font-weight: 400;
    padding: 0 0 0 24px;

}

body {

    margin: 0 auto;
    padding: 0 20px 20px 20px;
    width: 800px;
    border: 6px solid #5f6d81;
    background-color: rgb(157, 152, 136);

}

html {

    background-color: rgb(202, 194, 179);
    font-family: "Kanit",sans-serif;
    font-size: 18px;
}

img{
    display: block;
    margin: 40px auto;

}

.piros {
    color: rgb(255,0,0);
}

.kek {
    color: rgb(0,0,255);
}
